{% extends "marketing-layout.html" %}

{% block pageCss%}
<link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}


{% block body %}

  <div class="password-reset-form">
    <h2 style="margin-bottom: 0px;">Forgot Password</h2>
    <br>

    <p>Enter your email address below, and we will send you a link to reset your password.</p>
    <form action="" method="post" name="forgot-password" id="forgot-password" enctype="multipart/form-data">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" id="email-input" placeholder="email" required>
      
      <div class="d-grid mt-1">
        <span id="forgot-password-errorMessage" class="errorMessage"></span><br>
        <button type="submit" class="btn btn-primary" name="login_method" value="email" id="login-btn">Reset your
          password</button>
      </div>

    </form>
  </div>

{% endblock %}