{% extends "marketing-layout.html" %}

{% block pageCss%}
<style>
    .navbar-brand{ 
        font-size:14px !important;
    }
</style>
{% endblock %}

{% block body %}

<div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="row">
        <div class="col-md-3 p-lg-5 mx-auto my-5 mt-3" style="background-image:url({{url_for('static',filename="images/h2.png")}});height:400px;background-size:400px;background-repeat:no-repeat;">
            
        </div>
        <div class="col-md-5 p-lg-5 mx-auto my-5 mt-3">
            <h1 class="display-4 fw-normal">TechDocs</h1>
            <p class="lead fw-normal">It is a dockerized, mobile-ready, offline-storage compatible, JS-powered Latex editor. </p>
            <a class="btn btn-outline-primary" style="width: 200px;" href="{{url_for('registration')}}">Register</a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

{% endblock %}

{% block pageJS%}

<script>

    let text= 'Placeholder JS';

</script>

{% endblock %}
