<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleH.css">
    <title>TECHDOC</title>
</head>
<body>
     <nav class="navbar background">
     <ul class="nav-list another">
   <div class="logo"><img src="techdocs-minimal.png" alt= "logo"></div>

<li> <a href="Home">Home</a></li>
<li><a href="Features">Features</a></li>
<li><a href="Pricing">Pricing</a></li>
<li><a href="Help">Help</a></li>
     </ul>
     <div class="rightnav">
     <input type="text" name="REGISTER" id="REGISTER">
     <input type="password" name="User pass" id="txtpwd">
     <button class="btn btn-sm" style="background-color: rgb(174, 220, 241)" >REGISTER</button></div>
     </nav>
<section
class="background fisrtsection">
<div class="box-main">
<div class="firsthalf">
<p class="textbig">THE EVOLUTION OF DOCUMENTATION IS HERE</p>
<p class="textsmall">It is a dockerized, mobile-ready, offline-storage compatible, JS-powered Latex editor
</p>
<div class="buttons">
    <button class="btn btncolor" >Login</button>
    <button class="btn btncolor">Sign Up</button>
</div>
</div>


<div class="secondhalf">
<img src="img/techdoclogo.png" alt="techdoclogo image">
</div>
</div>
</section>
<section class="secright"></section>
<p class="sectionTag">Ease Of Use</p>
<p class="sectionSubtag">There’s nothing complicated or difficult for you to install, and you can start using LaTeX right now, even if you’ve never seen it before. TECHDOC comes with a complete, ready to go LaTeX environment which runs on our servers.

With TECHDOC you get the same LaTeX set-up wherever you go. By working with your colleagues and students on TECHDOC, you know that you’re not going to hit any version inconsistencies or package conflicts.

We support almost all LaTeX features, including inserting images, bibliographies, equations, and much more! Read about all the exciting things you can do with TECHDOC in our LaTeX guides.</p>

<div class="thumbnail"></div>
<img src="" alt="">
    </body>
</html>