html {
    height: 100%;
  }
  body {
    box-sizing: border-box;
    height: 100%;
    margin: 0; 
  }
.container-x {
    height: 100%;
    overflow: hidden;
    background-color: white;
  }
  .container-x {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .container-x > aside {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .container-x > main {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .container-x > aside,
  .container-x > main {
    padding: 10px;
    overflow: auto;
  }
  .resize-handle--x {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    width: 3px;
    height: 100%;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #dee9f7;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color:#dee9f7;
    cursor: ew-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .resize-handle--x:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%;
    height: 18px;
    width: 6px;
    margin-top: -9px;
    border-left-color: rgb(30, 113, 176);
    border-left-width: 1px;
    border-left-style: solid;
  }
  .resize-handle--x:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    height: 18px;
    width: 2px;
    margin-top: -9px;
    border-right-color:rgb(30, 113, 176);
    border-right-width: 1px;
    border-right-style: solid;
  }
  

  latex-js {
    display: inline-block;
    width: 40%;
    border: 1px solid red;
    margin-right: 2em;
  }
  
  .re-flex .item, .re-flex div.prism-live, textarea{
    width: calc(50% - 20px);
    height: calc(100%);
  }
  .re-flex .item:last-child{
    margin-left:15px;
  }
  @media (max-width: 800px) {
    .container-x > aside, .container-x .resize-handle--x{
      display:none;
    }
    .re-flex{
      flex-direction: column-reverse;
    }
    .re-flex .item, .re-flex div.prism-live{
      margin-bottom: 20px;
      width:100%;
      height: calc(59% - 100px);
    }
    .re-flex .item:last-child{
      margin-left:0px;
    }
    #filename-input-wrapper{
      width: 100%;
      margin-top: 5px;
    }
    #sync-status{
      margin-top:5px;
    }
  }

  #filename-input-wrapper{
    max-width:450px;
  }
  .assets-menu li a{
    padding:5px;
    background-color: aliceblue;
  }
  .assets-menu li:hover{
    cursor: pointer;
    background-color: rgb(214, 234, 252);
  }

  #editor-text{
    background-color: transparent;
    color: transparent;
  }
  
  code[class*="language-"], pre[class*="language-"] {
    font-size: 16px;
    color: white;
    text-shadow: none;
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
      background: #444;
  }