<!DOCTYPE html>
<html> 
   <body style="margin-left:100px; padding:10"> 
     
      <form action = "/submit" method = "POST"> 
	  
         <p><h3>Please Enter The Order Details.</h3></p> 
         <table>
			 <tr>
				<td>Customer Id</td>
				<td>: <input type = 'text' name = 'userId'/></td>
			</tr>
			<tr>
				<td>Amount</td>
				<td>: <input type = 'number' name = 'amt' step='.01' /><td> 
			</tr>
			
			<tr>
				<td>Order Description</td>
				<td>: <input type = 'text' name = 'orderDescr'/></td>
			</tr>	
			
			<tr>
				<td>Customer First Name</td>
				<td>: <input type = 'text' name = 'fname'/></td>
			</tr>
			<tr>
				<td>Customer Last Name</td>
				<td>: <input type = 'text' name = 'lname'/></td>
			</tr>

			 <p></p>
		 </table>
		 <p><input type = 'submit' value = 'Submit'/></p> 
      </form> 
        
   </body> 
</html> 
