{% extends "base.html" %}

{% block layoutCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/marketing-layout.css') }}">
{% block pageCss %}{% endblock%}
{% endblock %}

{% block layout %}

<nav class="navbar navbar-expand-lg bg-light bd-navbar">
  <div class="container">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img src="{{url_for('static',filename='images/icons/android-chrome-192x192.png')}}" class="header-logo"/>
      <span class="header-text">TechDocs</span>
    </a>
   
    
    <div class="">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link px-2 link-secondary">Home</a></li>
          <!--Features Drop-down-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-2 link-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item active" href="{{url_for('premium_features')}}">Premium Features</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('writing')}}">For Writing</a></li>
            <li><a class="dropdown-item" href="{{url_for('teaching')}}">For Teaching</a></li>
            <li><a class="dropdown-item" href="{{url_for('group')}}">For Group</a></li>
            <li><a class="dropdown-item" href="{{url_for('publisher')}}">For Publishers</a></li>
          </ul>
        </li>
          <li class="nav-item"><a href="{{url_for('plans')}}" class="nav-link px-2 link-dark">Pricing</a></li>
          <li class="nav-item"><a href="{{url_for('faq')}}" class="nav-link px-2 link-dark">Help</a></li>
          <li class="nav-item"><button type="button" class="btn btn-outline-primary me-2" onclick="redirectToLogin()">Login</button></li>
          <li class="nav-item"><a href="{{url_for('registration')}}" class="btn btn-warning">Sign-up</a></li>
        </ul> 
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main class="container-fluid body-main">
  {% block body %}{% endblock %}
</main>

<div class="container">
  <!--placeholder to add space for footer-->
  <div class="form-floating mt-6 mb-6 pb-3 pt-3">
    <span class="text-light bg-light">*</span>
    </div>
    </div>
<footer class="footer bd-blue-400">
  <div class="container">
    <div class="grid">
      <span class="text-muted">&copy; TechDocs</span> &nbsp;&nbsp;
      <a target="_blank" style="color: black;" href="https://github.com/prernawaghray/GL-TechDocs/tree/front_end"><i
          class="bi bi-github"></i></a>
    </div>

  </div>
</footer>

{% endblock %}

{% block layoutJS %}
<script>
  function redirectToLogin() {
    window.location = "{{url_for('login')}}";
  }
</script>
{% block pageJS %}{% endblock%}

{% endblock %}