{% extends "marketing-layout.html" %}

{% block pageCss%}
{% endblock %}

{% block body %}
<div class="container">

<div class="b-example-divider"></div>

<div class="text-center container px-1 py-2">
    <h1 class="pb-2 border-bottom">For Groups </h1>
    <div class="row row-cols-1 row-cols-md-1 align-items-md-center py-5 ">
        <div class="d-flex flex-column text-center align-items-center gap-2">
            <h3 class="fw-bold ">Get TechDocs For Your Group</h3>
            <p class="text-muted align-content-center">TechDocs is an online collaborative writing and publishing tool
                that makes the whole process of writing, editing and publishing scientific documents much quicker and
                easier. TechDocs provides the convenience of an easy-to-use LaTeX editor with real-time collaboration and
                the fully compiled output produced automatically in the background as you type.</p>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="row row-cols-1 row-cols-md-1 align-items-md-center py-2 ">
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-12">
                <div class="no-card text-center my-1">
                    <h2 id="plans">Know what you need? <div class = "my-2"></div><a href="{{url_for('plans')}}"
                            class="btn btn-primary btn-mt-3">Check Plans here</a> </h2>
                </div>
            </div>
        </div>
    </section>
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-12">
                <div class="no-card">
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-12">
                <div class="no-card text-center">
                    <h2 id="why-move-to-a-group-license">Why Move To A Group License?</h2>
                </div>
            </div>
        </div>
    </section>
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-12">
                <div class="no-card text-center">
                    <p>Increase collaboration while reducing admin overheads with a group license for TechDocs, the
                        world's most popular collaborative LaTeX environment for labs, universities and businesses.</p>
                </div>
            </div>
        </div>
    </section>
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-6">
                <div class="card text-center">
                    <h2 id="cut-down-on-paperwork">Cut Down On Paperwork</h2>
                    <p>It's just one annual payment, and we'll work directly with your finance or purchasing department,
                        so you won't need to handle monthly TechDocs expenses.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card text-center">
                    <h2 id="simplify-latex-management">Simplify LaTeX Management</h2>
                    <p>Stop worrying about managing different LaTeX environments or tools and making sure they play well
                        together.</p>
                </div>
            </div>
        </div>
    </section>
    <section class=" no-top-padding">
        <div class="row section-row">
            <div class="col-xs-12 col-sm-6">
                <div class="card text-center">
                    <h2 id="promote-collaboration">Promote Collaboration</h2>
                    <p>TechDocs is built for collaboration. Multiple people working on the same project at the same time
                        is no problem with our easy-to-use track changes feature.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card text-center">
                    <h2 id="reduce-costs">Reduce Costs</h2>
                    <p>Give up to ten people in your group access to our full feature set.</p>
                </div>
            </div>
</div>
{% endblock %}

{% block pageJS%}


{% endblock %}