{% extends "marketing-layout.html" %}

{% block pageCss%}
{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="content content-alt cms-page content-page">
        <div class="content-container">
            <section>
                <div class="row section-row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <h1 ng-non-bindable>TechDocs for Publishers &amp; Journals</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class=" ">
                <div class="row section-row my-3">
                    <div class="col-xs-12 col-sm-12">
                        <div class="no-card text-center">
                            <h2 id="increase-author-satisfaction--reduce-editorial-headaches">Increase author
                                satisfaction &amp; reduce
                                editorial headaches</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class=" no-top-padding my-1">
                <div class="row section-row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="no-card">
                            <p>TechDocs is designed to provide authors and publishers with the tools to effectively
                                write, collaborate,
                                submit, and manage an article through to publication—complementing existing project and
                                editorial
                                management software.</p>
                            <p>Find out more about our different products and services below, or read through a
                                selection of publisher
                                case studies on successful uses of TechDocs in different settings.</p>
                            <p>A comprehensive authoring collaboration tool, including publisher-specific template
                                development or
                                enhancement, options for “built in” automated pre-submission checks, author help desk
                                and support, and
                                publisher-specific simplified submission links into your submission system or to your
                                submission web
                                portal.</p>
                                <div class="my-2"></div>
                            <nav class= "my-1">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                        aria-selected="true">TechDocs Services</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-profile" type="button" role="tab"
                                        aria-controls="nav-profile" aria-selected="false">Benefits</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text align-items-md-center">
                                            <h3 id="TechDocs-commons">TechDocs Link</h3>
                                            <p>A comprehensive authoring collaboration tool, including
                                                publisher-specific template development
                                                or enhancement, options for “built in” automated pre-submission checks,
                                                author help desk and
                                                support, and publisher-specific simplified submission links into your
                                                submission system or to your
                                                submission web portal.</p>
                                            <h3 id="TechDocs-latex-validation-service">TechDocs LaTeX Validation Service
                                            </h3>
                                            <p>The TechDocs LaTeX Validation Service allows third parties to use the
                                                TechDocs technology and
                                                servers to handle all of their LaTeX compilations automatically, via a
                                                managed API. This allows
                                                organizations to outsource the management and overhead of LaTeX
                                                technology upkeep, and better
                                                ensure that LaTeX documents compile correctly using the latest LaTeX
                                                versions and packages. By
                                                using TechDocs for compilation and validation, you’re providing your
                                                communities and teams with
                                                access to a state-of-the-art LaTeX installation – one which has compiled
                                                over 15 billion pages
                                                since 2013 – but without any of the management overhead. </p>
                                            <h3 id="TechDocs-commons">TechDocs Commons</h3>
                                            <p>An TechDocs subscription service for organizations to provide TechDocs
                                                Professional accounts to
                                                their members and staff. This service provides streamlined, branded
                                                enrollment, a customized
                                                resource portal, user training and platform and template
                                                analytics/metrics.</p>
                                            <h3 id="TechDocs-group-subscriptions">TechDocs Group Subscriptions</h3>
                                            <p>A set number of TechDocs Collaborator or Professional accounts for members
                                                and staff. Group
                                                subscriptions include a team management dashboard to add and remove team
                                                members, Centralized
                                                billing and admin, and an option to reassign licenses as needed.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">
                                                TechDocs offers publishers an innovative, simple-to-implement authoring
                                                and submission solution,
                                                serving as an useful author resource and significantly enhancing author
                                                satisfaction. TechDocs, on
                                                the other hand, can alleviate the pressures that LaTeX and templated
                                                submissions might have on
                                                your editing and production personnel.
                                            <h3 id="features--benefits">Features &amp; Benefits</h3>
                                            <ul>
                                                <li><strong>Benefit from a fast and simple LaTeX submission
                                                        process</strong> – ensure that LaTeX
                                                    submissions arrive in the correct format with all publisher
                                                    requirements followed and confirmed,
                                                    all documentation present and error-free compilation.</li>
                                                <li><strong>Provide authors with a simplified submission
                                                        process</strong>, from their paper in
                                                    TechDocs to your submission system or submission web portal – easing
                                                    and streamlining the
                                                    submission process.</li>
                                                <li><strong>Help authors follow the correct format and
                                                        guidelines</strong> by providing your
                                                    custom LaTeX templates and through the automated TechDocs
                                                    pre-submission check system.</li>
                                                <li><strong>Support author collaboration in your community</strong> by
                                                    providing an innovative
                                                    writing tool that simplifies their writing process, expands and
                                                    facilitates their cloud
                                                    collaboration ability, and streamlines their workflow and publisher
                                                    submission process.</li>
                                                <li><strong>Ensure the authoring, reviewing and editing experience is
                                                        smooth, simple and
                                                        painless</strong>, by having a trusted tool that will support
                                                    your aims and goals.</li>
                                                <li><strong>Outsource LaTeX support</strong> by having the TechDocs
                                                    ‘TeX’perts handle all LaTeX and
                                                    technical questions directly.</li>
                                                <li><strong>LaTeX, evolved</strong> - provide your authors and
                                                    communities with access to a
                                                    state-of-the-art LaTeX installation, but without any of the
                                                    management overhead.</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% endblock %}

                        {% block pageJS%}

                        {% endblock %}