{% extends "marketing-layout.html" %}

{% block pageCss%}
{% endblock %}

{% block body %}
<div class="container">
    <main>
        <main class="my-5">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-md-5 align-items-md-center ">
                        <h1 class="mt-5">For Teaching</h1>
                        <p class="mt-4">
                            TechDocs is utilised at universities all around the world to teach mathematics, physics, and
                            other subjects. Instructors use TechDocs in class for interactive demos and offer students
                            with templated assignments that they can access and edit securely online—nothing has to be
                            installed to get started.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col">
                        <div class="bg-secondary text-white my-3 py-3 card text-center">
                            <div class="card-body">
                                Students learn quicker, and teaching is made easier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Getting Started</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Creating Class Materials</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card">
            <div class="card-body">
                <p class="card-text align-items-md-center">
                    To begin using TechDocs, just sign up for a free account and invite your students to do the same.<br>
                    Your students will be able to take advantage of the convenience of an easy-to-use LaTeX editor with
                    real-time collaboration after they've signed up, with nothing to download or install - they can get
                    started right away.
                </p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">There are three simple methods for making your templates and other class
                    resources available to students who use TechDocs for their assignments:</h5>
                <p class="card-text">
                    <li>Using our link sharing function is the simplest method to share an assignment with your
                        students. You may provide your assignment as a read-only project, which they can then duplicate
                        and complete before submitting.</li>
                    <li>You may post your templates and examples in the TechDocs gallery so that your students can
                        utilise them right away. This article will teach you how to publish templates on TechDocs.</li>
                    <li>If you want to host your own LaTeX templates, you may use our API to generate simple links to
                        open them in TechDocs. It's as simple as clicking Open this homework assignment to see for
                        yourself. Every student who clicks the link will generate their own personal copy to fill out
                        and submit.</li>
                </p>
            </div>
        </div>
    </div>
</div>
<div></div>
<div class="container my-5">
    <div class="b-example-divider"></div>
        <div class=" container px-1 py-2">
            <h1 class="pb-2 border-bottom">For Universities </h1>
            <div class=" card-body row-cols-1 row-cols-md-1 align-items-md-center py-5 ">
                <div class="d-flex flex-column text-center align-items-center gap-2">
                    <h3 class="fw-bold ">Get TechDocs For Your University</h3>
                    <p class="text-muted align-content-center">TechDocs is an online collaborative writing and
                        publishing tool that makes the whole process of writing, editing and publishing scientific
                        documents much quicker and easier. TechDocs provides the convenience of an easy-to-use LaTeX
                        editor with real-time collaboration and the fully compiled output produced automatically in
                        the background as you type.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-1 py-2">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="d-flex flex-column gap-2">
                
            
            </div>

        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="d-flex flex-column gap-2">
                <div
                    class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection" />
                    </svg>
                </div>
                <div>
                    <p><strong>TechDocs Commons includes:</strong></p>
                </div>
                <ul>
                    <li><strong>TechDocs Professional accounts</strong> – for students, faculty and staff.</li>
                    <li><strong>Hassle-free license management</strong> – users simply register with their
                        institutional email address on TechDocs (or add it to their existing TechDocs account) to
                        join your TechDocs Commons license and receive their upgrade automatically.</li>
                    <li><strong>An TechDocs resource portal</strong> – featuring templates, FAQs and Help resources,
                        and a quick way for new users to sign up.</li>
                    <li><strong>Support</strong> – we’ll help you get everything set up and then we’re here to
                        answer questions from students, faculty and staff about the platform, templates or LaTeX
                        itself!</li>
                    <li><strong>Training videos and webinars</strong> – to help ensure your users and admin staff
                        are ready to use the TechDocs platform.</li>
                    <li><strong>Metrics and analytics</strong> – we provide an administrative dashboard with metrics
                        and analytics on platform use, users, projects and submissions.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row section-row">
    <div class="col-xs-12 col-sm-12">
        <div class="no-card text-center">
            <p>Contact Us for our Service kit to help gather support internally</p><p>If you'd like to find out more about how TechDocs can support your students and researchers,
                please get in touch, we'd love to hear from you.</p>
            <p>Includes instructions and a letter for your favorite librarian, head of department, or other decision
                maker.</p>
            </p>
        </div>
    </div>
</div>

</div>
</div>

</main>

</div>

{% endblock %}


{% block pageJS%}

{% endblock %}