{% extends "marketing-layout.html" %}

{% block pageCss%}
{% endblock %}

{% block body %}
<div class="container">

    <p>You can find details of our individual and group subscriptions on our <a rel="nofollow" class="external text"
            href="{{url_for('plans')}}">Plans & Pricing page</a>.
    </p>
    <p>The following premium features are available on TechDocs:
    </p>
    <div id="toc" class="toc"><input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox"
            style="display:none" />
        <div class="toctitle" lang="en" dir="ltr">
            <h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel"
                    for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#Invite_more_collaborators"><span class="tocnumber">1</span>
                    <span class="toctext">Invite more collaborators</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Increased_compile_timeout"><span class="tocnumber">2</span>
                    <span class="toctext">Increased compile timeout</span></a></li>
            <li class="toclevel-1 tocsection-3"><a href="#Real-time_track_changes"><span class="tocnumber">3</span>
                    <span class="toctext">Real-time track changes</span></a></li>
            <li class="toclevel-1 tocsection-4"><a href="#Full_document_history_and_versioning"><span
                        class="tocnumber">4</span> <span class="toctext">Full document history and versioning</span></a>
            </li>
            <li class="toclevel-1 tocsection-5"><a href="#Advanced_reference_search"><span class="tocnumber">5</span>
                    <span class="toctext">Advanced reference search</span></a></li>
            <li class="toclevel-1 tocsection-6"><a href="#Reference_manager_synchronization"><span
                        class="tocnumber">6</span> <span class="toctext">Reference manager synchronization</span></a>
            </li>
            <li class="toclevel-1 tocsection-7"><a href="#Git_and_GitHub_integration"><span class="tocnumber">7</span>
                    <span class="toctext">Git and GitHub integration</span></a></li>
            <li class="toclevel-1 tocsection-8"><a href="#Symbol_Palette"><span class="tocnumber">8</span> <span
                        class="toctext">Symbol Palette</span></a></li>
            <li class="toclevel-1 tocsection-9"><a href="#Priority_Support"><span class="tocnumber">9</span> <span
                        class="toctext">Priority Support</span></a></li>
            <li class="toclevel-1 tocsection-10"><a href="#Further_information"><span class="tocnumber">10</span> <span
                        class="toctext">Further information</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-11"><a href="#Account_and_project_level_features"><span
                                class="tocnumber">10.1</span> <span class="toctext">Account and project level
                                features</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#More_help"><span class="tocnumber">10.2</span> <span
                                class="toctext">More help</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <h2><span class="mw-headline" id="Invite_more_collaborators">Invite more collaborators</span></h2>
    <p>You can invite named collaborators to your project via the ‘share’ menu in your project (with read-only or edit
        access). Simply add their email address and an email invitation will be sent to them. You can remove these named
        collaborators at any time via the same ‘share’ menu. The number of named collaborators you can invite depends on
        your plan.
    </p>
    <table class="wikitable" style="text-align:center">

        <tbody>
            <tr>
                <th>
                </th>
                <th>Free
                </th>
                <th>Personal
                </th>
                <th>Standard
                </th>
                <th>Professional
                </th>
            </tr>
            <tr>
                <td>Number of collaborators
                </td>
                <td>1
                </td>
                <td>1
                </td>
                <td>10
                </td>
                <td>unlimited
                </td>
            </tr>
        </tbody>
    </table>
    <p><br />
    </p>
    <ul>
        <li>Inviting named collaborators: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Increased_compile_timeout">Increased compile timeout</span></h2>
    <p>You have more time for compilation (to generate a PDF of your document) before receiving a timeout error message.
    </p>
    <ul>
        <li>Compile Timeout: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Real-time_track_changes">Real-time track changes</span></h2>
    <p>The track changes mode lets you see exactly what has been changed by your collaborators, and allows you to accept
        or reject each individual change. The track changes feature is not available on projects owned by users of the
        Free or Personal plans.
    </p>
    <ul>
        <li>Track Changes: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Full_document_history_and_versioning">Full document history and versioning</span>
    </h2>
    <p>View the entire history of your project with the ability to revert to previous versions of your document from
        your project history (versus only 24 hours of history availability on a free TechDocs account). No more fear of
        losing work or making changes you can’t undo.
    </p>
    <ul>
        <li>History: <a rel="nofollow" class="external text" href="#">Read More</a></li>
        <li>Versioning: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Advanced_reference_search">Advanced reference search</span></h2>
    <p>You can search by citation key, and our premium feature allows the added ability to search by author, title,
        year, or journal.
    </p>
    <ul>
        <li>Advanced reference search: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Reference_manager_synchronization">Reference manager synchronization</span></h2>
    <p>You can link your Mendeley and Zotero accounts to your TechDocs account, allowing you to import your reference
        library and keep your TechDocs document in sync with the references stored in Mendeley / Zotero.
    </p>
    <ul>
        <li>Reference manager synchronization: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Dropbox_synchronization">GitHub synchronization</span></h2>
    <p>You can configure your TechDocs project to synchronize directly with a repository on GitHub, or you can use raw
        git access. This allows you to work offline and synchronize your files whenever you come back online. You can
        also use our TechDocs Git Bridge integration, which lets you git clone, push and pull changes between the online
        TechDocs editor, and your local offline git repository.</p>
    <ul>
        <li>Git, GitHub and Git Bridge: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Symbol_Palette">Symbol Palette</span></h2>
    <p>The Symbol Palette is a convenient tool to quickly insert math symbols into your document. It’s an account level
        feature, which is explained in more detail below.
    </p>
    <ul>
        <li>Symbol Palette: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Priority_Support">Priority Support</span></h2>
    <p>Our helpful Support team will prioritise and escalate your support requests where necessary. Please note that we
        do not provide additional debugging support for users on a premium plan.
    </p>
    <ul>
        <li>Priority Support: <a rel="nofollow" class="external text" href="#">Read More</a></li>
    </ul>
    <h2><span class="mw-headline" id="Further_information">Further information</span></h2>
    <h3><span class="mw-headline" id="Account_and_project_level_features">Account and project level features</span></h3>
    <p>Please note that certain premium features apply at the <b>project level</b>, like track-changes, compile time,
        and access to full history, and are based on the project owner's subscription. So, when invited to collaborate
        on a project owned by a someone with a subscription, users on the free plan can use those features within that
        project.
    </p>
    <p>In other words, if you yourself have an upgraded account, your fellow collaborators do not need to pay for a
        subscription in order to use track-changes or access the full history within projects that you share with them.
    </p>
    <p>Other premium features apply at the <b>account level</b>, and are controlled by you, the subscription holder.
        These are the features which include linking to external services, like Dropbox, GitHub, Git, Mendeley, and
        Zotero. The majority of these do also confer benefits to those you work with, as described below:
    </p>
    <ul>
        <li><b>GitHub:</b> A user with a premium subscription can link any project they own to a GitHub repo. Once the
            project is linked, all users in the project can click the button to sync it. So this can be thought of as a
            'per project' feature.</li>
    </ul>
    <ul>
        <li><b>Git:</b> If the project is owned by a user with a premium subscription, all members of the project can
            git clone/push/pull to it. If a user has a premium subscription, they can git clone/push/pull to all
            projects they have access to. This is like a superset of GitHub and Dropbox permission model - it's
            personal, and per project.</li>
    </ul>
    <ul>
        <li><b>Symbol Palette:</b> A user with a premium subscription always has access to this feature regardless of
            which project they are working on.</li>
    </ul>
    <p>To find out more about how to use these premium features, please see the <i>Read More</i> links in the sections
        above.
    </p>
    <h3><span class="mw-headline" id="More_help">More help</span></h3>
    <p>For further reading on how to get the most out of TechDocs Help page. This includes a wide range of platform
        guidance, LaTeX tutorials & technical articles
    </p>
</div>
{% endblock %}

{% block pageJS%}

{% endblock %}