{% extends "marketing-layout.html" %}

{% block pageCss%}
<style>
    .navbar-brand{
        font-size:14px !important;
    }
</style>
{% endblock %}

{% block body %}

<div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="row">
        <div class="col-md-3 p-lg-5 mx-auto my-5 mt-3" style="background-image:url({{url_for('static',filename="images/h2.png")}});height:400px;background-size:400px;background-repeat:no-repeat;">
            
        </div>
        <div class="col-md-5 p-lg-5 mx-auto my-5 mt-3">
            <h2 class="display-5 fw-normal">502</h2>
            <h3 class="lead fw-normal">Error: Bad Gateway</h3>
            <hr>
            <p class="lead fw-normal">Please try again after some time.</p>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

{% endblock %}

{% block pageJS%}

<script>

    let text= 'Placeholder JS';

</script>

{% endblock %}
