{% extends "marketing-layout.html" %}

{% block pageCss%}
  <style>
    #login-container{
      max-width:380px;
      margin:auto;
      text-align: center;
    }
    a{text-decoration: none;}
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}


{% block body %}
<script src="js/register.js"></script>
    
<div id="login-container" class="mt-3">
      <h2 style="margin-bottom: 0px;">User Registration</h2>
      <br> 
      
      <form action="" method="post" name="register-form" id="register-form" enctype="multipart/form-data">
        <div class="form-floating  mt-2">
          <input type="text" class="form-control" name="firstname" id="firstname-input" placeholder="First Name" required>
          <label for="firstname-input">First Name</label>
        </div>
        <div class="form-floating  mt-2">
          <input type="text" class="form-control" name="lastname" id="lastname-input" placeholder="Last Name" required>
          <label for="email-input">Last Name</label>
        </div> 
        <div class="form-floating  mt-2">
          <input type="email" class="form-control" name="email" id="email-input" placeholder="email" required>
          <label for="email-input">Email address</label>
        </div>
        
        <div class="form-floating mt-2">
          <input type="password" class="form-control" name="password_input" id="password_input" placeholder="password" required>
          <label for="password_input">Password</label>
        </div>
        <div class="form-floating mt-2">
          <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirm password" required><br>
          <label for="password_confirm">Confirm Password</label>
        </div>
          
        <div class="d-grid mt-1">
          <span id="register-errorMessage" class="errorMessage"></span><br>
          <span id="register-infoMessage" class="infoMessage"></span><br>

          <button type="submit" class="btn btn-primary" name="register" value="register" id="register">Register</button>   
        </div>
       
      </form>
      
      
      
      <!--form action="{{url_for('login')}}" method="post" id="other-login"-->
        <div class=" mt-2">
          <p class="text-center">Else, Register With</p>
          <!--div class="d-grid gap-2 mt-3">
            <button type="submit" name="login_method" class="btn btn-outline-primary" value="google" id="login-btn">
              <i class="bi bi-google"></i>oogle
            </button-->
          
          <div id="googleLogin"></div>
          <!--div id="g_id_onload"
                data-client_id=getClientSecret()
                data-callback="handleGoogleAuthResponse">
          </div>
          <div class="g_id_signin" 
          data-type="standard"  
          data-shape="rectangular"
          data-theme="filled_blue"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left"
          data-width="400px"></div-->      
            
          <!-- <button type="submit" name="login_method" value="ieee" id="login-btn">IEEE</button> -->
          </div>
          <p class="mt-3">Already a User?  <a href="{{url_for('login')}}">Login Here</a></p>
       </div>
      <!--/form-->
      
      
</div>
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js"  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/validators.js') }}"></script>

{% endblock %}
