{% extends "marketing-layout.html" %}

{% block pageCss%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="section-intro">
        <h1>Pricing & Subscriptions</h1>
        <h4>Choose your desired plan</h4>
        <div class="toggle-switch-container">
            <input type="checkbox" class="plan-switch" />
            <span class="Monthly">Monthly</span>
            <span class="Yearly">Yearly</span>
        </div>
    </div>

    <div class="pricing-cards">
        <div class="row_1">
            <div class="plan-card">
                <div class="card-pricing_header">
                    <h4>Standard</h4>
                    <p>Free Plan</p>
                    <h3 class="card-pricing_price"><span class="rupee">&#8377</span><span class="amount">0</span></h3>
                </div>
                <div class="card-pricing_button">
                    <button onclick= "BasicPlan()" class="button">Get Started</button>
                </div>
                <ul class="card-pricing_list">
                    <p class="Features">Standard Features  :</p>
                    <!-- <li><span class="dot">&#9758;</span>  Feature 1</li>
                    <li><span class="dot">&#9758;</span>  Feature 2</li>
                    <li><span class="dot">&#9758;</span>  Feature 3</li>
                    <li><span class="dot">&#9758;</span>  Feature 4</li> -->
                    <li><span class="dot">&#9758;</span>  Convert to PDF</li>
                    <li><span class="dot">&#9758;</span>  Spell Check</li>
                    <li><span class="dot">&#9758;</span>  Grammar check</li>
<!--                     <li><span class="dot">&#9758;</span>  Ad hosting</li> -->
                    <li><span class="dot">&#9758;</span>  Search completion</li>
<!--                     <li><span class="dot">&#9758;</span>  Helpdesk - chat</li> -->
                </ul>
            </div>
            <div class="plan-card">
                <div class="card-pricing_header">
                    <h4>Premium</h4>
                    <p>Get More Features</p>
                    <h3 class="card-pricing_price" id="Price"><span class="rupee">&#8377</span><span class="amount">199 /</span><span class="type">mo</span></h3>
                </div>
                <div class="card-pricing_button">
                    <button class="button disabled">Coming Soon</button>
                </div>
                <ul class="card-pricing_list">
                    <p class="Features">Premium Features  : </p>
                    <p class="Features-1">&#8592; Everything in Standard Plan +</p>
                    <li><span class="dot">&#9758;</span>  Plagiarism check</li>
                    <li><span class="dot">&#9758;</span>  Sharing with multiple people</li>
                    <li><span class="dot">&#9758;</span>  Extra storage - upgrade</li>
                    <li><span class="dot">&#9758;</span>  Product Analytics - based on user behaviour</li>
                    <li><span class="dot">&#9758;</span>  Word meanings/suggestions</li>
<!--                     <li><span class="dot">&#9758;</span>  Web scraping</li>
                    <li><span class="dot">&#9758;</span>  Image to Word converter</li>
                    <li><span class="dot">&#9758;</span>  Watermarking</li> -->
                </ul>
            </div>	
        </div>
    </div>
</div>
<script src="js/pricing.js"></script>
<div style="margin-top: 100px;">.</div>
{% endblock %}

{% block pageJS%}


<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    function BasicPlan(){
        window.location.href="{{url_for('login')}}";
    }
    function PremiumPlan(){
        window.location.href="{{url_for('login')}}";
    }
</script>


{% endblock %}
