{% extends "base.html" %}

{% block pageCss%}
 <style>
  
 </style>
{% endblock %}

{% block body %}
 <div>
  <div class="container">
  <h2>History</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>60 mins ago</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <td>John edited an item.</td>
      </tr>
      <tr>
        <td><a href="#">Filename.ext</a></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>80 mins ago</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Smith edited an item.</td>
      </tr>
      <tr>
        <td><a href="#">Filename.ext</a></td>
        
      </tr>
    </tbody>
  </table>
</div>
 </div>
{% endblock %}

{% block pageJS%}


{% endblock %}
