{% extends "marketing-layout.html" %}

{% block pageCss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
{% endblock %}


{% block body %}
<script src="js/forgotpassword.js"></script>

<div id="forgotpassword-container" class="mt-3">
  <h2 style="margin-bottom: 0px;">Forgot Password</h2>
  <br>

  <form action="" method="post" name="forgot-password" id="forgot-password" enctype="multipart/form-data">
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="email-input" placeholder="email" required>
      <label for="email-input">Email address</label>
    </div>
    <div class="d-grid mt-1">
      <span id="forgot-password-errorMessage" class="errorMessage"></span><br>
      <button type="submit" class="btn btn-primary" name="login_method" value="email" id="login-btn">Reset your
        password</button>
    </div>

  </form>

</div>


{% endblock %}